body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    background-color: rgba(244, 164, 96, 0.75);
}

h1 {
    text-align: center;
}

h2, h3 {
    padding-left: 3rem  ;
}

article {
    padding: 1rem;
    max-width: 96vw;
    align-items: center;
}

section#description {
    text-align: center;
}

section#description p, h2 {
    text-align: start;
}

img {
    max-width: 90%;
    height: auto;
    border-radius: 2.5rem;
}

li {
    margin-bottom: 0.3rem;
}
