
:root {
	--bg-color : rgb(212, 161, 115);
	--bg-color-contrast-darker: rgb(199, 150, 108);
	--bg-color-contrast-lighter: rgb(220, 170, 120);
}

body {

	font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
}

article {
    padding: 1rem;
    max-width: 96vw;
    align-items: center;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

section#description {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    /* text-align: center; */

}

section#description p {
	padding-left: 3rem;
    text-align: justify;
	max-width: 90%;
}

section {
	padding: 1.5rem;
}

img {
    max-width: 30rem;
    height: auto;
    border-radius: 1.3rem;
}

li {
    margin-bottom: 0.3rem;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	flex-wrap: wrap;


}

.list-card {
	padding: 1.7rem;
	margin: 1.25rem;
	width: 26rem;
	box-sizing: border-box;
}

.ingredient-list {
	background-color:var(--bg-color-contrast-darker);
	border-radius: 1rem 3rem;
}

.steps-list {
	background-color: var(--bg-color-contrast-lighter);
	border-radius: 3rem 1rem ;

}	
 
